village/.editorconfig
village/.env
village/.env.example
village/.gitattributes
village/.gitignore
village/.styleci.yml
# village/app
village/artisan
village/bootstrap
village/composer.json
village/composer.lock
village/config
village/database
village/package-lock.json
village/package.json
village/phpunit.xml
village/public
village/README.md
# village/resources
# village/routes
village/server.php
village/storage
village/tests
village/vendor
village/webpack.mix.js